@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: "Pacifico", cursive;
  font-size: 48px;
}

.login-container {
  margin: 100px auto 50px auto;
  border-radius: 1em;
  perspective: 600px;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.25),
    0 0.02125em 0.06125em rgba(0, 0, 0, 0.25);
  background: rgb(58, 180, 180);
  background: linear-gradient(
    90deg,
    rgba(58, 180, 180, 1) 21%,
    rgba(80, 252, 69, 1) 70%
  );
}

.login-form {
  padding: 50px;
}

.login-form-icon {
  display: flex;
  width: 100%;
  justify-content: center;
}

.login-form-icon div {
  background-color: #012643;
  transform: scale(2.5);
  margin-top: -60px;
}

@media only screen and (max-width: 500px) {
  .login-form-icon div {
    transform: scale(2);
  }
}
